<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artists</title>
</head>
<body>
<img class= "icon" src="/images/artist_icon_medium_sea_green.png" alt="artist icon">
<h2>Artists</h2>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Type</th>
        <th>Manager</th>
    </tr>


    #foreach ($artist in $artists)
    <tr>
        <td>$artist.getFirstName()</td>
        <td>$artist.getLastName()</td>
        <td>$artist.getType()</td>
        <td>$artist.getManager()</td>
    <tr>
        #end

</table>


</body>
</html>



<p class="pageHeader">All Performing artists</p>

<h2 class="nav_menu_2" href="/musicians">Musicians</h2>
<a class="nav_menu_2" href="/comedians">Comedians</a>
<a class="nav_menu_2" href="/circus">Circus</a>




