<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artists</title>
</head>
<body>


<div class="container">
<img class= "icon" src="/images/artist_icon_medium_sea_green.png" alt="artist icon">
<h2>Artists</h2>


<div class= "artist_cat_flex">
    <a class="artist_sub_cat_individual" href="/musicians">Musicians</a>
    <a class="artist_sub_cat_individual" href="/comedians">Comedians</a>
</div>


<div class="table">

<table>
    <tr>
        <th class="green-border">First Name</th>
        <th class="green-border">Last Name</th>
        <th class="green-border">Type</th>
        <th class="green-border">Manager</th>
    </tr>


    #foreach ($artist in $artists)
    <tr>
        <td class="green-border">$artist.getFirstName()</td>
        <td class="green-border">$artist.getLastName()</td>
        <td class="green-border">$artist.getType()</td>
        <td class="green-border">$artist.getManager()</td>
    <tr>
        #end

</table>

</div>



</div>




</body>
</html>






