* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}


.container {
    display: flex;
    flex-direction: column;
}


.table {
    display: flex;
    align-items: center;
    justify-content: center;

}


table {
  border-collapse: collapse;
  margin-top: 50px;

}



td,
th {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  border: 1px  #3BB273 solid;

}


th {
    padding-bottom: 10px;
}


body {
  background-color: #FBFBFB;
}


a:hover {
    text-decoration: underline;
}


.nav_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav {
  background-color: #FE6768;
}


.nav_over_ride {
  background-color: #837C8D;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 46px;
  padding-right: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.artist_cat_flex {
  margin-top: 15px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.artist_sub_cat_individual {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17pt;
  color: #3BB273;
  text-decoration: none;
}


.nav_menu_1 {
  list-style-type: none;
  display: inline-block;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 22px;
  margin-left: 0pt;
}


.nav_menu_2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: white;
    text-decoration: none;
}


footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 0px;
    color: white;
    text-decoration: none;
}


.logo {
    padding-left: 46px;
    padding-right: 0px;
    width: 100%;
    max-width: 160px;
    max-height: 130px;
    margin-top: 0px;
}


.scroll_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    max-width: 130px;
    max-height: 130px;
    margin-top: 0px;
}


.search_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    max-width: 130px;
    max-height: 130px;
    margin-top: 0px;
}


.getting_started_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
}


h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 0px;
    color: #FE6768;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}


h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 0px;
    color: #3BB273;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}


h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 0px;
    color: #17BEBB;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}


h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 0px;
    color: #E77429;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}


h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 0px;
    color: #17BEBB;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
}


.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-width: 130px;
    max-height: 130px;
    margin-top: 22px;
}


.add_venue_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: white;
    background-color: #E77429;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left 10px;
    padding-right 10px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
}


.add_musician_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: white;
    background-color: #3BB273;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left 10px;
    padding-right 10px;
    width: 165px;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}


.add_comedian_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: white;
    background-color: #3BB273;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left 10px;
    padding-right 10px;
    width: 175px;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}


.add_visitor_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: white;
    background-color: #17BEBB;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left 10px;
    padding-right 10px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}


.form_block_musicians {
  margin-top: 14px;
  padding-top: 25px;
  padding-bottom: 15px;
  background-image: url(/images/merry.jpeg);
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
}


.form_block_venues {
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #EDE38E;
}


.form_block_artists {
  display: flex;
  align-items: center;
}


label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  color: #2D2926;
  display: block;
  margin-left: 25PX;
  margin-bottom: 5px;
}


input, select {
  width: 210px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 25PX;
}


.capacity {
  width: 120px;
  margin-bottom: 20px;
}


.performance {
  width: 240px;
  margin-bottom: 20px;
}


.save_button_venue {
  width: 90px;
  height: 40px;
  background-color: #E77429;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}


.save_button_artist {
  width: 90px;
  height: 40px;
  background-color: #3BB273;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-bottom: 0px;
}


.save_button_visitor {
  width: 90px;
  height: 40px;
  background-color: #17BEBB;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.select_button {
    background: white;
    text-decoration: none;
}

