<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Musicians</title>
</head>
<body>

<div class="container">
<img class= "icon" src="/images/artist_icon_medium_sea_green.png" alt="artist icon">
<h2>Musicians</h2>


    <div class="table">

<table>
    <tr>
        <th class="green-border">First Name</th>
        <th class="green-border">Last Name</th>
        <th class="green-border">Manager</th>
        <th class="green-border">Genre</th>

    </tr>

    #foreach ($musician in $musicians)
    <tr>
        <td class="green-border"><a href="/musicians/$musician.getId()">$musician.getFirstName()</a></td>
        <td class="green-border">$musician.getLastName()</td>
        <td class="green-border">$musician.getManager()</td>
        <td class="green-border">$musician.getGenre().getGenreName()</td>
    <tr>
        #end

</table>

    </div>




<a class="add_musician_button" href="/musicians/new"> Add Musician </a>



</div>



</body>
</html>


