<p class="pageHeader">Musician information</p>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Manager</th>
        <th>Genre</th>
    </tr>

    <tr>
        <td>$musician.getFirstName()</td>
        <td>$musician.getLastName()</td>
        <td>$musician.getManager()</td>
        <td>$musician.getGenre().getGenreName()</td>
        <td><a href="/musicians/$musician.getId()/edit">EDIT</a></td>
    <tr>

</table>
