<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add_visitor</title>
</head>
<body>

<img class= "icon" src="/images/visitor_icon_tiffany_blue.png" alt="visitor icon">

<h3>Add Visitor</h3>


<form>

    <div class="form_block">



        <div>
            <label> First Name: </label>
            <input class= "" type="text"/>
        </div>

        <div>
            <label> Last Name: </label>
            <input class= "" type="text"/>
        </div>

        <div>
            <label> Performance: </label>
            <input class= "performance" type="text"/>
        </div>

        <div>
            <input class="submit_button_visitor" type="submit" value="Submit"/>
        </div>



    </div>

</form>


</body>
</html>