<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add_venue</title>
</head>
<body>

<img class= "icon" src="/images/venue_icon_pastel_red.png" alt="venue icon">

<h1>Add Venue</h1>


<form>

    <div class="form_block">



    <div>
        <label> Name: </label>
        <input class= "" type="text"/>
    </div>

    <div>
        <label> Location: </label>
        <input class= "" type="text"/>
    </div>

    <div>
        <label> Capacity: </label>
        <input class= "capacity" type="text"/>
    </div>

    <div>
        <input class="submit_button_venue" type="submit" value="Submit"/>
    </div>



    </div>

</form>


</body>
</html>