<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add_artist</title>
</head>
<body>

<img class= "icon" src="/images/artist_icon_medium_sea_green.png" alt="artist icon">

<h2>Add Artist</h2>


<form>

    <div class="form_block">



        <div>
            <label> Name: </label>
            <input class= "" type="text"/>
        </div>

        <div>
            <label> Manager: </label>
            <input class= "" type="text"/>
        </div>

        <div>
            <label> Account: </label>
            <input class= "capacity" type="text"/>
        </div>

        <div>
            <input class="submit_button_artist" type="submit" value="Submit"/>
        </div>



    </div>

</form>


</body>
</html>