<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FestivalApp</title>
</head>
<body>

<nav>
    <li class="nav_menu_1">  <a href='/venues'>  <img class= "nav_icons" src="/images/scroll_bar_white.png" alt="scroll bar"> </a>Venues</li>
    <li class="nav_menu_1">  <a href='/'>  <img class= "logo" src="/images/fiesta_logo_white.png" alt="scroll bar">  </a>  </li>
    <li class="nav_menu_1">  <a href='/'>  <img class= "nav_icons" src="/images/search_icon_white.png" alt="scroll bar">  </a>  </li>
</nav>


<main class="container">
    #parse($template)

    <a href="/venues">Venues</a>
    <a href="/musicians">Musicians</a>


</main>


</body>
</html>