<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visitors</title>
</head>
<body>

<img class= "icon" src="/images/visitor_icon_tiffany_blue.png" alt="visitor icon">

<h3>Visitors</h3>



<a class="add_visitor" href=""> Add Visitor </a>




</body>
</html>