<html>
<head>
    <title>add_visitor</title>
</head>
<body>
<img class= "icon" src="/images/visitor_icon_tiffany_blue.png" alt="visitor icon">
<h5>New Visitor</h5>
<form action="/visitors" method="post">
    <div class="form_block_venues">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" class="inputbox" name="firstName" required="true" id="firstName"/>
        </div>
        <div>
            <label for="lastName">Surname: </label>
            <input type="text" class="inputbox" name="lastName" required="true" id="lastName">
        </div>


        <div>
            <input class="save_button_visitor" type="submit" value="Save"/>
        </div>
    </div>
</form>




</body>
</html>




