<p class="pageHeader">Edit Visitor information</p>

<form action="/visitors/$visitor.getId()" method="post">

    <label for="firstName">Name:</label>
    <input type="text" class="inputbox" name="firstName" required="true" id="firstName"/>

    <label for="lastName">Location:</label>
    <input type="text" class="inputbox" name="lastName" required="true" id="lastName">

    <input type="submit" value="Update" class="button">

</form>