<p class="pageHeader">Venue/Stage/Tent information</p>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    <tr>
        <td>$visitor.getFirstName()</td>
        <td>$visitor.getLastName()</td>
    </tr>

</table>

