<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Venues</title>
</head>
<body>

<div class="container">

<img class= "icon" src="/images/fest_app_venue_icon_vivid_tangelo.png" alt="artist icon">
<h4>Venues</h4>


    <div class="table">

<table>
    <tr>
        <th class="orange-border">Name</th>
        <th class="orange-border">Location</th>
        <th class="orange-border">Capacity</th>
    </tr>


    #foreach ($venue in $venues)
    <tr>
        <td class="orange-border"><a href="/venues/$venue.getId()">$venue.getName()</a></td>
        <td class="orange-border">$venue.getLocation()</td>
        <td class="orange-border">$venue.getVisitorCapacity()</td>
    <tr>
        #end

</table>

    </div>

<a class="add_venue_button" href="/venues/new"> Add Venue </a>


</div>


</body>
</html>














