<p class="pageHeader">Venue/Stage/Tent information</p>

<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>

    </tr>

    <tr>
        <td>$venue.getName()</td>
        <td>$venue.getLocation()</td>
        <td>$venue.getCapacity()</td>
    <tr>

</table>

