<p class="pageHeader">Venue information</p>

<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>

    </tr>

    <tr>
        <td>$venue.getName()</td>
        <td>$venue.getLocation()</td>
        <td>$venue.getVisitorCapacity()</td>
    <tr>

    <h2><a href="/venues/$venue.getId()/edit">EDIT</a></h2>





</table>

