<html>
<head>
    <title>add_comedian</title>
</head>
<body>
<img class= "icon" src="/images/artist_icon_medium_sea_green.png" alt="artist icon">
<h2>New Comedian</h2>



<div class="form">

<form action="/comedians" method="post">
    <div class="form_block_comedians">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" class="inputbox" name="firstName" required="true" id="firstName"/>
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" class="inputbox" name="lastName" required="true" id="lastName"/>
        </div>
        <div>
            <label for="type">Type:</label>
            <input type="text" class="inputbox" name="type" required="true" id="type"/>
        </div>
        <div>
            <label for="manager">Manager:</label>
            <input type="text" class="inputbox" name="manager" required="true" id="manager"/>
        </div>
        <div>
            <label for="nationality">Nationality:</label>
            <select name="nationality" id="nationality" required="true">
                #foreach ($nationality in $nationalities)
                <option value="$nationality">
                    $nationality.getCountry()
                </option>
                #end
            </select>
        </div>
        <div>
            <input class="save_button_artist" type="submit" value="Save"/>
        </div>
    </div>
</form>

</div>


</body>
</html>