<p class="pageHeader">Comedian information</p>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Manager</th>
    </tr>

    <tr>
        <td>$comedian.getFirstName()</td>
        <td>$comedian.getLastName()</td>
        <td>$comedian.getManager()</td>
        <td><a href="/comedians/$comedian.getId()/edit">EDIT</a></td>
    <tr>



</table>

