<p class="pageHeader">Edit Line-Up</p>

<form action="/lineups/$lineUp.getId()" method="post">

    <form>
        Date: <input type="date" name="date">

    <label for="venue">Venue:</label>
    <select id="venue" name="venue">
        #foreach( $venue in $venues )
        <option value="$venue.getId()">$venue.getName()</option>
        #end
    </select>

    <input type="submit" value="Update" class="button">
    </form>

</form>