<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LineUps</title>
</head>
<body>

<div class="container">
    <img class= "icon" src="/images/artist_icon_medium_sea_green.png" alt="artist icon">
    <h2>Line Ups</h2>

    <div class="table">

<table>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>No. performing Artists</th>
        <th>First performance (start time)</th>
        <th>Last performance (end time)</th>

    </tr>

    #foreach ($lineup in $lineups)
    <tr>
        <td>$lineup.getDate()</td>
        <td><a href="/lineups/$lineup.getId()">$lineUp.getDescription()</a></td>
        <td>$lineup.numberOfArtistsInLineUp()</td>
        <td>$lineup.firstPerformanceStartTime()</td>
        <td>$lineup.lastPerformanceEndTime()</td>
    <tr>
        #end

</table>


</div>

</div>



</body>
</html>