<p class="pageHeader">List of Line-Ups</p>

<table>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Venue</th>
    </tr>


    #foreach ($lineUp in $lineUps)
    <tr>
        <td>$lineUp.getDate()</td>
        <td>$lineUp.getDescription()</td>
        <td>$lineUp.getVenue().getName()</td>
        <td><a href="/lineups/$lineup.getId()/edit">Edit</a></td>
        <td><a href="/lineups/$lineup.getId()/delete">Delete</a></td>



    <tr>
        #end

</table>


