<p class="pageHeader">Line-Up information</p>

<table>
    <tr>
        <th>Line-Up ID</th>
        <th>Date</th>
        <th>Venue</th>

    </tr>

    <tr>
        <td>$lineUp.getId()</td>
        <td>$lineUp.getDate()</td>
        <td>$lineUp.getVenue().getName()</td>
    <tr>

</table>

